# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database
backend/db.sqlite3

# Environments
backend/.env
.env
.venv
env/
venv/
ENV/
backend/firebase-service-account.json

# Media and Static
backend/media/
backend/staticfiles/

# Flutter / Dart
frontend/.dart_tool/
frontend/build/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.pub-cache/
frontend/pubspec.lock

# Operating System Files
.DS_Store
Thumbs.db
